body:before {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url('http://www.rockshop.ro/images/product/362-alice-in-chains---jar-of-flies---frontjpg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  filter: blur(15px);
  z-index: -9;
}

body {
  background-color: black;
}

.btn {
  cursor: pointer;
}

.audio-player {
  position: relative;
}

/******************** styles play-bar ********************/

.play-bar {
  position: fixed;
  height: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
}

.play-bar-btn {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  border: none;
}

.play-btn {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 4px;
  padding-right: 5px;
  border: 1px solid white;
}
